*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#img{
    display: flex;
    height: 50vh;
}


@media screen and (max-width: 320px) {
    body{
        background-color: red;
        color: antiquewhite;
        }
}
@media screen and (min-width: 330px) and (max-width: 760px)  {
    body{
        background-color: green;
        color: antiquewhite;

    }
}
@media screen and (min-width: 765px) and (max-width: 1200px)  {
    body{

        background-color: blue;
        color: antiquewhite;

    }
}